In [14]:
import pandas as pd

# Step 2: Load the CSV file
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
df = pd.read_csv('/Users/zahranazemian/Desktop/Python/auto.csv',  names = headers)

import numpy as np

# replace "?" to NaN
df.replace("?", np.nan, inplace = True)
missing_data = df.isnull()
print (missing_data["stroke"].value_counts())

stroke
False    201
True       4
Name: count, dtype: int64

In [20]:
#replace NaN in "stroke" column with the mean value.
avg_stroke=df['stroke'].astype('float').mean(axis=0)
df["stroke"].replace(np.nan, avg_stroke, inplace=True)
df.head()

/var/folders/lr/7qjwyg613b1413bcv2hxrqqc0000gn/T/ipykernel_80608/2859048008.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["stroke"].replace(np.nan, avg_stroke, inplace=True)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [16]:
missing_datanew = df.isnull()
print (missing_datanew["stroke"].value_counts())

stroke
False    205
Name: count, dtype: int64

In [18]:
#Replace "NaN" with the mean value in the "peak-rpm" column
print (missing_datanew["peak-rpm"].value_counts())
avg_peak=df['peak-rpm'].astype('float').mean(axis=0)
df["peak-rpm"].replace(np.nan, avg_peak, inplace=True)

peak-rpm
False    203
True       2
Name: count, dtype: int64

/var/folders/lr/7qjwyg613b1413bcv2hxrqqc0000gn/T/ipykernel_80608/284082052.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["peak-rpm"].replace(np.nan, avg_peak, inplace=True)

In [19]:
# seeing the values of a column 
df['num-of-doors'].value_counts()

num-of-doors
four    114
two      89
Name: count, dtype: int64

In [21]:
df['fuel-system'].value_counts()

fuel-system
mpfi    94
2bbl    66
idi     20
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: count, dtype: int64

In [22]:
df['normalized-losses'].value_counts()

normalized-losses
161    11
91      8
150     7
128     6
134     6
104     6
95      5
102     5
103     5
74      5
85      5
168     5
94      5
65      5
106     4
122     4
148     4
118     4
93      4
101     3
125     3
137     3
154     3
83      3
115     3
119     2
87      2
194     2
197     2
108     2
89      2
164     2
158     2
145     2
192     2
188     2
81      2
110     2
113     2
129     2
153     2
107     1
78      1
186     1
231     1
77      1
98      1
121     1
90      1
142     1
256     1
Name: count, dtype: int64

In [23]:
print (missing_datanew["normalized-losses"].value_counts())

normalized-losses
False    164
True      41
Name: count, dtype: int64

In [24]:
# seeing the most common value of a column 
df['num-of-doors'].value_counts().idxmax()

'four'

In [25]:
#replace the missing 'num-of-doors' values by the most frequent 
df["num-of-doors"].replace(np.nan, "four", inplace=True)

/var/folders/lr/7qjwyg613b1413bcv2hxrqqc0000gn/T/ipykernel_80608/2406474689.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["num-of-doors"].replace(np.nan, "four", inplace=True)

In [28]:
missing_datanewagain = df.isnull()
print (missing_datanewagain["num-of-doors"].value_counts())
print (missing_datanewagain["price"].value_counts())

num-of-doors
False    205
Name: count, dtype: int64
price
False    201
True       4
Name: count, dtype: int64

In [29]:
# simply drop whole row with NaN in "price" column
df.dropna(subset=["price"], axis=0, inplace=True)

# reset index, because we droped two rows
df.reset_index(drop=True, inplace=True)

In [31]:
missing=df.isnull()
print (missing["price"].value_counts())

price
False    201
Name: count, dtype: int64

In [32]:
print (missing["num-of-doors"].value_counts())

num-of-doors
False    201
Name: count, dtype: int64

In [34]:
df.to_csv('/Users/zahranazemian/Desktop/Python/autosupdate.csv', index=False)